@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
.page-header {
  margin-top: 0; }

img, iframe {
  max-width: 100%; }

a.dropdown-toggle img {
  margin-right: 5px; }

.container {
  max-width: 1000px; }

.navbar {
  border-radius: 0; }

footer {
  padding: 15px 0;
  border-top: 1px solid #e5e5e5;
  clear: both;
  margin-top: 20px; 
  font-size: 10px;}

.answer_form label {
  display: none; }
.answer_form br {
  display: none; }

span.score {
  font-weight: 700;
  line-height: 2; }

.well {
  overflow: auto; }

.comment {
  font-size: 0.85em;
  padding: 8px;
  border-top: 1px solid #eee; }
  .comment.hover:hover {
    background-color: #f5f5f5; }
  .comment.no-border {
    border-top: none;
    padding: 8px 0; }

.row.post {
  overflow: auto;
  margin-bottom: 20px; }

.row.comments {
  overflow: auto;
  margin-bottom: 20px; }

.row.question h3 {
  margin-top: 0;
  padding-top: 0; }

.right-margin {
  margin-right: 10px; }

.well.tags a.btn {
  margin: 5px; }

.jumbotron {
  color: white;
  background: url("../img/banner.jpg"); }
  .jumbotron p, .jumbotron h1 {
    text-shadow: 0 0 20px black; }

.navbar-brand img.pull-left {
  margin-right: 5px; }
